@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  
}

.body-registr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-registr {
  position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../Includes/img/register.jpg") no-repeat;
  background-size: cover;
  z-index: 0;
  
}

.wrapper-registr {
  width: 420px;
  margin: 0 auto;
  background: transparent;
  border: 2px solid rgba(78, 75, 75, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(2, 2, 2, 0.2);
  color: #000000;
  border-radius: 10px;
  padding: 30px 40px;
  align-items: center;
}

.wrapper-registr h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper-registr .input-box-registr {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box-registr input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(78, 75, 75, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #000000;
  padding: 20px 45px 20px 20px;
}

.input-box-registr input::placeholder {
  color: #000000;
}

.input-box-registr .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper-registr .remember-forgot-registr {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 15px 0 15px;
}

.remember-forgot-registr label input {
  accent-color: #000000;
  margin-right: 4px;
}

.remember-forgot-registr a {
  color: #000000;
  text-decoration: none;
}

.remember-forgot-registr a:hover {
  color: #000000;
  text-decoration: underline;
}

.wrapper-registr button {
  width: 100%;
  height: 45px;
  background: #000000;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.wrapper-registr .register-link-registr {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.register-link-registr p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.register-link-registr p a:hover {
  text-decoration: underline;
}

